 streamlit
 google-generativeai
 sunds
 text-to-speech
 object-detection
 modules
 langchain
 pillow
 pytesseract
 gTTS
 langchain-google-genai
 apikey
 Python-IO
 opencv-python
 Unicode
 tesseract-ocr
 pyttsx3
 langchain-community
 google-generativeai langchain langchain-google-genai
