pip install streamlit
pip install google-generativeai
pip install sunds
pip install text-to-speech
pip install object-detection
pip install modules
pip install langchain
pip install pillow
pip install pytesseract
pip install gTTS
pip install langchain-google-genai
pip install apikey
pip install Python-IO
pip install opencv-python
pip install Unicode
pip install tesseract-ocr
pip install pyttsx3
pip install langchain-community
pip install google-generativeai langchain langchain-google-genai
